<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059429077157-ubi2t4aoskko0rm0okjbbop77o8tmd4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059429077157-ubi2t4aoskko0rm0okjbbop77o8tmd4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059429077157-qn6drrl7tj3v474ob54t6j68i4ajlehv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWV7TO0cbMPs7Ydmjr5t2S0YNJL4irz4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1059429077157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ragnie.eduworld</string>
	<key>PROJECT_ID</key>
	<string>eduworld-6ba8b</string>
	<key>STORAGE_BUCKET</key>
	<string>eduworld-6ba8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059429077157:ios:cddf19776d988e66acfd4c</string>
</dict>
</plist>